*{
    margin: 0;
    
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
body{
    background-color: rgb(237, 227, 214);
}

article{
    width: 500px;
    height: 370px;
    background-color: white;
    border-radius: 10px;
    display: flex;
}

.lef img{
width: 250px;
height: 370px;

}

.rig{
    /* width: 100%; */
    padding: 10px;
    display:flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 15px;
}
.rig div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rig h2{
    /* font-size: .9em; */
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.rig h3{
    color:rgb(205, 199, 199);
    font-size: .7em;
}
.rig p{
    color:rgb(205, 199, 199);
    font-size: .9em;
}

.rig div span:first-child{
    color: rgb(64, 116, 103);
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rig div span:last-child{
    color: rgb(174, 169, 169);
    font-size: .9em;
     text-decoration: line-through; /*tachar texto */
}

.rig button{
    border-radius: 11px;
    background-color: rgb(64, 116, 103);
    border-color:rgba(64, 116, 103, 0);
    color: white;
    height: 50px;
    justify-content: center;
}